<ion-view view-title="Offers Feed">
    <ion-content>
        <div class="list card" ng-repeat="offer in offers">
            <div class="item bar bar-header bar-positive">
                <h2>{{offer.name}}</h2>
                <p>by <a href="#">Pesho</a></p>
                <p>{{offer.date | date: longDate}}</p>
            </div>

            <div class="item item-body">
                <p>{{ offer.name }} - {{ offer.price | currency }}</p>
                <p>{{ offer.description | limitTo:50 }}...</p>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" ng-click="onApply()">Apply</a>
            </div>
        </div>
    </ion-content>
</ion-view>
