<ion-view view-title="Wish Detail">
    <ion-nav-buttons side="primary">
        <a class="button icon-left ion-chevron-left button-clear button-light"
           ng-click="navigateBack()"></a>
    </ion-nav-buttons>

    <ion-content>
        <div class="list card">
            <div class="item item-body item-stable center">
                <h2>{{ owner.getUsername() }}</h2>
            </div>

            <div class="item item-body">
                <h3>
                    {{ wish.getName() }}
                </h3>

                <p>{{ wish.getDescription() }}</p>

                <p>{{ wish.getReachedMoney() | currency }} / {{wish.getPrice() | currency}}</p>
                <progress max="100" value="{{progress}}"></progress>
            </div>
        </div>
    </ion-content>
</ion-view>
