<ion-view view-title="History">
    <ion-content>
        <div class="list">
            <div class="list card">

                <div class="item">
                    <div class="row">
                        <div class="col">
                            <h2>Job One</h2>

                            <p>by John Doe</p>
                        </div>
                        <div class="col">
                            <rating max="max" ng-model="rate"></rating>
                        </div>
                    </div>

                </div>

                <div class="item item-body">
                    <p>
                        "Great job, can be done better"
                    </p>
                </div>
            </div>

            <div class="list card">

                <div class="item">
                    <div class="row">
                        <div class="col">
                            <h2>Job Two</h2>

                            <p>by John Doe 2</p>
                        </div>
                        <div class="col">
                            <rating max="max" ng-model="rate"></rating>
                        </div>
                    </div>

                </div>

                <div class="item item-body">
                    <p>
                        "You're a superman"
                    </p>
                </div>
            </div>

        </div>
    </ion-content>
</ion-view>
