<ion-view view-title="History">
    <ion-content>
        <div class="list card" ng-repeat="offer in offers">
            <div class="item bar bar-header bar-positive" >
                <h2>{{offer.get('name')}}</h2>
            </div>

            <div class="item item-body">
                <p>
                    {{offer.get("owner").get("username")}}: "{{offer.get("comment")}}"
                </p>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <div>
                    <rating max="max" ng-model="offer.get('rating')"></rating>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
