<ion-view view-title="New Offer">
    <ion-content>
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Name</span>
                <input type="text" placeholder="Name of the job" ng-model="newOffer.name">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Description</span>
                <textarea row="10"  placeholder="Description of the job" ng-model="newOffer.description"></textarea>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Price</span>
                <input type="text" placeholder="money" ng-model="newOffer.price">
            </label>
        </div>
    </ion-content>
    <ion-footer-bar>
        <div class=" tabs tabs-icon-left tabs-color-positive">
            <a class="tab-item" ng-click="addOffers(newOffer);">
                <i class="icon ion-checkmark-round"></i>
                Add Offer
            </a>
            <a class="tab-item" ui-sref="app.offers.my-offers">
                <i class="icon ion-close-round"></i>
                Cancel
            </a>
        </div>
    </ion-footer-bar>
</ion-view>


