<ion-tabs class="tabs-positive tabs-icon-only">

    <ion-tab title="My Offers"
             icon-on="ion-ios-filing"
             icon-off="ion-ios-filing-outline"
             ui-sref="app.offers.my-offers">
        <ion-nav-view name="my-offers"></ion-nav-view>
    </ion-tab>

    <ion-tab title="On Working"
             icon-on="ion-ios-clock"
             icon-off="ion-ios-clock-outline"
             ui-sref="app.offers.on-working-offers">
        <ion-nav-view name="on-working-offers"></ion-nav-view>
    </ion-tab>

</ion-tabs>