<ion-view view-title="On Working Offers">
    <ion-content>
        <div class="list card" ng-repeat="offer in offers">

            <div class="item bar bar-header bar-positive">
                <h2>{{offer.name}}</h2>
                <p>by <a href="#">Pesho</a></p>
                <p>{{offer.date | date: longDate}}</p>
            </div>

            <div class="item item-body">
                <p ng-click="test()">
                    {{offer.description}}
                </p>
                <p>
                <h3>Status: {{offer.status}}</h3>
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>
