<ion-view view-title="On Working Offers" class="bg-color">
    <ion-content>
        <div class="list card" ng-repeat="offer in offers">

            <div class="item bar bar-header card-header">
                <h2>{{offer.get("name")}} by {{offer.get("owner").get("username")}}</h2>
                <p>by <a href="#">Pesho</a></p>
                <p>{{offer.createdAt | date: longDate}}</p>
            </div>

            <div class="item item-body">
                <p ng-click="test()">
                    {{offer.get("description")}}
                </p>
                <p>
                <h3>Status: {{offer.get("status")}}</h3>
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>
